<div class="content">
    <div class="courses">
        <div class="headers">
            <div class="allCourses">
                <h3>All Courses</h3>
            </div>
            <div class="filterCourses">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Course Price</option>
                    <option value="1">Low to high</option>
                    <option value="2">High to Low</option>
                </select>
            </div>
            <app-courses></app-courses>
        </div>
    </div>
    <div class="cart">
        <div class="cartHeader">
            <div class="searchCourses">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Recipient's username"
                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">Search</span>
                    </div>
                </div>
            </div>
            <app-cart></app-cart>
        </div>
    </div>
</div>