<div class="courses" *ngFor="let item of courses">
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{item.courseDescription}}</h5>
        <p class="card-text">Price : {{item.price}}</p>
        <p class="card-text">Author : {{item.courseCreator}}</p>
        <p class="card-text">Course ID : {{item.id}}</p>
        <a  class="btn btn-primary" (click)="addToWishlist(item.id)"> Add to Wishlist</a> &nbsp;&nbsp;&nbsp;
        <a  class="btn btn-primary" (click)="addToCart(item.id)"> Add to Cart</a>
    </div>
</div>
</div>