<div class="main card shadow">

    <div class="header card-header">
        <h6>YOUR CART DETAILS</h6>
    </div>

    <div class="card-body course-cart-body">
        <div class="cart-details">
            <div class="card" *ngFor="let item of CartItemstoDisplay">
                <h5 class="card-title">{{item.courseDescription}}</h5>
                <p class="card-text">Price : {{item.price}}</p>
                <p class="card-text">Author : {{item.courseCreator}}</p>
                <p class="card-text">Course ID : {{item.id}}</p>
                <span>hi added in cart</span>
            </div>
        </div>
    </div>
    <div class="card-footer cart-footer p-3">
        <div class="cart-value">
            <p>Total Cart Value</p>
            <p class="value font-weight-bold"> {{totalCartPrice}}</p>
        </div>
        <div class="checkout pt-3 ">
            <button  class="btn btn-warning" [disabled]="totalCartPrice === 0"> GO TO CHECKOUT</button>
        </div>
    </div>
</div>